{% extends 'base.html' %}
{% block title %}Greeting Page{% endblock %}
{% block content %}
    <div class="container-fluid py-4 {% if theme == 'dark' %}bg-dark text-light{% else %}bg-light text-dark{% endif %}">
    <h2>Вітаємо, {{ username }}!</h2>
    <p>Це ваша сторінка профілю.</p>

    <hr>
    <div class="mb-3">
        <strong>Кольорова схема:</strong>
        {% if theme == 'dark' %}
            <span class="badge bg-secondary">Темна</span>
        {% else %}
            <span class="badge bg-light text-dark">Світла</span>
        {% endif %}
        <a href="{{ url_for('users.set_theme', theme='light') }}" class="btn btn-outline-primary btn-sm ms-2">Світла</a>
        <a href="{{ url_for('users.set_theme', theme='dark') }}" class="btn btn-outline-secondary btn-sm">Темна</a>
    </div>
    <hr>

    <h4>Додати cookie</h4>
    <form action="{{ url_for('users.add_cookie') }}" method="POST" class="row g-3">
        <input type="hidden" name="action" value="add">
        <div class="col-md-3">
            <label class="form-label">Ключ</label>
            <input type="text" class="form-control" name="key" required>
        </div>
        <div class="col-md-3">
            <label class="form-label">Значення</label>
            <input type="text" class="form-control" name="value" required>
        </div>
        <div class="col-md-3">
            <label class="form-label">Термін дії (секунди)</label>
            <input type="number" class="form-control" name="duration" value="60" min="1" required>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-success col-12">Додати</button>
        </div>
    </form>

    <hr>

    <a href="{{ url_for('users.delete_all_cookies') }}" class="btn btn-danger mb-3">
        Видалити всі cookie
    </a>
    <div class="table-responsive">
        <table class="table table-striped align-middle" style="overflow-wrap: break-word; word-break: break-all; ">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 70%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
            <tr>
                <th>Ключ</th>
                <th>Значення</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for k, v in cookies.items() %}
                <tr class="align-middle">
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                    <td>
                        <a href="{{ url_for('users.delete_cookie', key=k) }}" class="btn btn-outline-danger btn-sm">
                            Видалити
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ url_for('users.logout') }}" class="btn btn-secondary">Вийти</a>
    </div>
{% endblock %}
