{% extends 'base.html' %}

{% block content %}
    <section id="contact">
        <h2 class="mb-3 border-bottom border-primary pb-2">Контакти</h2>
        <p>Будь ласка, заповніть форму, щоб надіслати мені повідомлення.</p>

        <form class="mt-3" method="post" action="#">
            <div class="mb-3">
                <label for="name" class="form-label">Ім’я</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Повідомлення</label>
                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Надіслати</button>
        </form>
    </section>
{% endblock %}
