{% extends 'base.html' %}

{% block content %}
    <section id="about" class="mb-5">
        <h2 class="mb-3 border-bottom border-primary pb-2">Про себе</h2>
        <div class="d-flex align-items-center flex-wrap">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Фото"
                 class="rounded-circle me-3 mb-3 profile-img">
            <p>Я студент, який прагне веб-застосунки з використанням Flask.</p>
        </div>
    </section>

    <section id="education" class="mb-5">
        <h2 class="mb-3 border-bottom border-primary pb-2">Освіта</h2>
        <ul>
            <li>2023–2027: Карпатський національний університет ім. Василя Стефаника — Бакалавр з інженерії програмного забезпчення</li>
        </ul>
    </section>

    <section id="skills" class="mb-5">
        <h2 class="mb-3 border-bottom border-primary pb-2">Навички</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML, CSS, JavaScript</li>
            <li class="list-group-item">Python, Flask</li>
            <li class="list-group-item">Git, Linux, SQL</li>
        </ul>
    </section>

    <section id="experience" class="mb-5">
        <h2 class="mb-3 border-bottom border-primary pb-2">Проєкти</h2>
        <ul>
            <li><strong>Personal Portfolio:</strong> Вебсайт-портфоліо на Flask з адаптивним дизайном.</li>
        </ul>
    </section>
{% endblock %}
